<a href="https://colab.research.google.com/github/Aditya2086/Python-Training/blob/main/Day_11_PT_02_Destructor%2C_Inheritance%2C_Abstraction_and_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Destructors in OOPS :-**

In [ ]:
class demo:
  def __init__(self):
    print('Constructor is called')

  def display(self):
    print('Display method is called')

  def __del__(self):
    print('Destructor is called')

d = demo()
d.display()

Constructor is called
Display method is called

# **How To Change Private Attributes :-**

In [ ]:
class speed:
  def __init__(self):
    self.speed = 10

  def get_speed(self):
    return self.speed

s = speed()
s.get_speed()

10

In [ ]:
class speed:
  def __init__(self):
    self.speed = 10

  def get_speed(self):
    return self.speed

s = speed()
s.speed = 100
s.get_speed()

100

In [ ]:
class speed:
  def __init__(self):
    self.speed = 10
    self.__setspeed = 70

  def get_speed(self):
    return self.speed

  def set_speed(self):
    return self.__setspeed

s = speed()
s.speed = 100
s.__setspeed = 120
s.get_speed(), s.set_speed()

(100, 70)

In [ ]:
class speed:
  def __init__(self):
    self.speed = 10
    self.__setspeed = 70

  def get_speed(self):
    return self.speed

  def set_speed(self):
    return self.__setspeed

  def set_speed_limit(self, new_speed):
    self.__setspeed = new_speed

s = speed()
s.speed = 100
s.set_speed_limit(120)
s.get_speed(), s.set_speed()

(100, 120)

# **Abstraction in OOPS Python :-**

In [ ]:
from abc import ABC, abstractmethod
class animal(ABC):
  @abstractmethod
  def dog(self):
    pass # declared but not defined

class pet(animal):
  def dog(self):
    print('Loyal friend')

p = pet()
p.dog()

Loyal friend

# **Inheritance :-**

In [ ]:
class employee:
  raise_amount = 1.05
  def __init__(self, firstn, lastn, sal):
    self.firstn = firstn
    self.lastn = lastn
    self.sal = sal

  def fulln(self):
    return '{} {}'.format(self.firstn, self.lastn)

  def raise_in_salary(self):
    self.sal = int(self.sal * self.raise_amount)

emp1 = employee('Tony', 'Stark', 75000000)
emp2 = employee('Steve', 'Rogers', 65000000)
print(emp1.fulln())
print('The salary is', emp1.sal)
emp1.raise_in_salary()
print('The salary is', emp1.sal)

Tony Stark
The salary is 75000000
The salary is 78750000

In [ ]:
class developers(employee):
  pass

emp1 = developers('Tony', 'Stark', 75000000)
emp2 = developers('Steve', 'Rogers', 65000000)
print(emp1.fulln())
print('The salary is', emp1.sal)
emp1.raise_in_salary()
print('The salary is', emp1.sal)

Tony Stark
The salary is 75000000
The salary is 78750000

In [ ]:
class developers(employee):
  raise_amount = 2.04

emp1 = developers('Tony', 'Stark', 75000000)
emp2 = developers('Steve', 'Rogers', 65000000)
print(emp1.fulln())
print('The salary is', emp1.sal)
emp1.raise_in_salary()
print('The salary is', emp1.sal)

Tony Stark
The salary is 75000000
The salary is 153000000

In [ ]:
class developers(employee):
  raise_amount = 2.04
  def __init__(self, firstn, lastn, sal, prog_lang):
    employee.__init__(self, firstn, lastn, sal)
    self.prog_lang = prog_lang

emp1 = developers('Tony', 'Stark', 75000000, 'Python')
emp2 = developers('Steve', 'Rogers', 65000000, 'Javascript')
print(emp1.fulln())
print('The salary is', emp1.sal)
emp1.raise_in_salary()
print('The salary is', emp1.sal)

Tony Stark
The salary is 75000000
The salary is 153000000

In [ ]:
class developers(employee):
  raise_amount = 2.04
  def __init__(self, firstn, lastn, sal, prog_lang):
    super().__init__(firstn, lastn, sal)
    self.prog_lang = prog_lang

emp1 = developers('Tony', 'Stark', 75000000, 'Python')
emp2 = developers('Steve', 'Rogers', 65000000, 'Javascript')
print(emp1.fulln())
print('The salary is', emp1.sal)
emp1.raise_in_salary()
print('The salary is', emp1.sal)

Tony Stark
The salary is 75000000
The salary is 153000000

In [ ]:
class managers(employee):
  def __init__(self, firstn, lastn, sal, employees = None):
    super().__init__(firstn, lastn, sal)
    if employees is None:
      self.employees = []
    else:
      self.employees = employees

  def add_emp(self,emp):
    if emp not in self.employees:
      self.employees.append(emp)
  
  def remove_emp(self, emp):
    if emp in self.employees:
      self.employees.remove(emp)

  def print_emp(self):
    for emp in self.employees:
      print('-->',emp.fulln())

emp1 = developers('Tony', 'Stark', 75000000, 'Python')
emp2 = developers('Steve', 'Rogers', 65000000, 'Javascript')
mgr = managers('Nick', 'Fury', 1000000000, [emp1])
print(mgr.sal)
mgr.add_emp(emp2)
print('Employees List After adding all employees:')
mgr.print_emp()
mgr.remove_emp(emp1)
print('Employees List After removing any employees:')
mgr.print_emp()

1000000000
Employees List After adding all employees:
--> Tony Stark
--> Steve Rogers
Employees List After removing any employees:
--> Steve Rogers

In [ ]:
def add_emp(emp, emp_list = []):
  emp_list.append(emp)
  print(emp_list)

emp_list = ['Tony', 'Steve']
add_emp('Bruce')
add_emp('Thor')
add_emp('Strange')
print(emp_list)

['Bruce']
['Bruce', 'Thor']
['Bruce', 'Thor', 'Strange']
['Tony', 'Steve']

In [ ]:
def add_emp(emp, emp_list = None):
  if emp_list is None:
    emp_list = []
  emp_list.append(emp)
  print(emp_list)

emp_list = ['Tony', 'Steve']
add_emp('Bruce')
add_emp('Thor')
add_emp('Strange')
print(emp_list)

['Bruce']
['Thor']
['Strange']
['Tony', 'Steve']

# **Repr, Str Methods :-**

In [ ]:
class employee:
  raise_amount = 1.05
  def __init__(self, firstn, lastn, sal):
    self.firstn = firstn
    self.lastn = lastn
    self.sal = sal

  def fulln(self):
    return '{} {}'.format(self.firstn, self.lastn)

  def raise_in_salary(self):
    self.sal = int(self.sal * self.raise_amount)

  def __repr__(self):
    return '{} {}'.format(self.firstn, self.lastn)

  def __str__(self):
    return '{}- {}'.format(self.fulln(), self.sal)

emp1 = employee('Tony', 'Stark', 75000000)
emp2 = employee('Steve', 'Rogers', 65000000)
print(emp1)

Tony Stark- 75000000

# **Different methods in OOPS :-**

In [ ]:
class MyClass:
  def method(self):
    return 'Instance Method Called', self

  @classmethod
  def class_method(cls):
    return 'Class Method Called', cls

  @staticmethod
  def static_method():
    return 'Static Method Called'

obj = MyClass()
obj.method()

('Instance Method Called', <__main__.MyClass at 0x7fd2e414b410>)

In [ ]:
class Pizza:
  def __init__(self, ingredients):
    self.ingredients = ingredients

  def __repr__(self):
    return f'Pizza({self.ingredients})'

  @classmethod 
  def __panpizza__(cls, self):
    self.type = type 
  
  def pizzatype(self, types):
    return types

  @classmethod
  def bakepizza(cls):
    return cls(['mozzarella', 'cheeseburst', 'onion'])

p = Pizza('Heese Burst Pizza')
t = Pizza('Pan Pizza')
print(t.pizzatype('Pan Pizza'))

Pan Pizza

In [ ]:
import math
class Pizza:
  def __init__(self, radius, ingredients):
    self.radius = radius
    self.ingredients = ingredients

  def area(self):
    return self.pizza_area(self.radius)
  
  @staticmethod
  def pizza_area(r):
    return math.pi*r**2

p = Pizza(4,['Barbequed', 'Pan'])
print(p.area())

50.26548245743669

In [45]:
class Cons_Des:
  def __init__(self):
    print("Constructor called here...")

  def __show__(self):
    print("Method show called here...")

  def __del__(self): # destructor 
    print("Destructor called here...")

cd = Cons_Des()
cd.__show__()

Constructor called here...
Method show called here...

In [46]:
class velocity :
  def __init__(self):
    self.vel = 18
  def velo_get(self):
    return self.vel
    
V = velocity()
V.velo_get()

18

In [47]:
class velocity :
  def __init__(self):
    self.vel = 18
  def velo_get(self):
    return self.vel
    
V = velocity()
V.vel = 54
V.velo_get()

54

In [48]:
class velocity :
  def __init__(self):
    self.vel = 18
    self.__veloset = 41 # setting private attribute

  def velo_get(self):
    return self.vel # fetching the value

  def velo_set(self):
    return self.__veloset 
    
V = velocity()
V.vel = 546
V.velo_set() ,V.velo_get() # private attribute changed

(41, 546)

In [49]:
class velocity :
  def __init__(self):
    self.vel = 18
    self.__veloset = 41

  def velo_get(self):
    return self.vel

  def velo_set(self):
    return self.__veloset
    
  def set_lim(self,new_velo):
    self.__veloset = new_velo # changing the value of private attribute using new variable
    
V = velocity()
V.vel = 546
V.set_lim(255)
V.velo_set() ,V.velo_get()

(255, 546)

In [50]:
from abc import ABC , abstractmethod
class fauna(ABC):
  @abstractmethod # can't be used in this class because class is abstract one.
  def tiger(self):
    pass

class wild(fauna):
  pass

wa = wild()
wa.tiger()

TypeError: ignored

In [51]:
from abc import ABC , abstractmethod
class fauna(ABC):
  @abstractmethod
  def tiger(self): # can't be used in this class because class is abstract one.
    pass # declared but not defined

class wild(fauna):
  def tiger(self): # abstract method can be used outside the abstract class
    print('Found in Sunderban Delta')

wa = wild()
wa.tiger()

Found in Sunderban Delta

In [52]:
class Emp:
  inc = 1.22
  def __init__(self,fname,lname,sal):
    self.fname = fname
    self.lname = lname
    self.sal = sal

  def fullname(self):
    return '{} {}'.format(self.fname,self.lname)

  def sal_rise(self):
    self.sal = int(self.sal * self.inc)

e1 = Emp('Steve','Smith',1250000)
e2 = Emp('Glenn','Maxwell',950000)
print('Previous salary')
print(e1.fullname())
print("Salary =",e1.sal)
print(e2.fullname())
print("Salary =",e2.sal)

e1.sal_rise() # function call
e2.sal_rise() # function call

print('Salary After Increment')
print(e1.fullname())
print("Salary =",e1.sal)
e1.sal_rise()
print(e2.fullname())
print("Salary =",e2.sal)

Previous salary
Steve Smith
Salary = 1250000
Glenn Maxwell
Salary = 950000
Salary After Increment
Steve Smith
Salary = 1525000
Glenn Maxwell
Salary = 1159000

In [53]:
class DEV(Emp): # 'DVP' class inherits 'Emp' class 
  pass

e1 = DEV('Steve','Smith',1250000)
e2 = DEV('Glenn','Maxwell',950000)
print('Previous salary')
print(e1.fullname())
print("Salary =",e1.sal)
print(e2.fullname())
print("Salary =",e2.sal)

e1.sal_rise() # function call
e2.sal_rise() # function call

print('Salary After Increment')
print(e1.fullname())
print("Salary =",e1.sal)
e1.sal_rise()
print(e2.fullname())
print("Salary =",e2.sal)

Previous salary
Steve Smith
Salary = 1250000
Glenn Maxwell
Salary = 950000
Salary After Increment
Steve Smith
Salary = 1525000
Glenn Maxwell
Salary = 1159000

In [54]:
class DEV(Emp):
  inc = 2.08 # everything will be same due to inheritance but new attribute value will be taken

e1 = DEV('Steve','Smith',1250000)
e2 = DEV('Glenn','Maxwell',950000)
print('Previous salary')
print(e1.fullname())
print("Salary =",e1.sal)
print(e2.fullname())
print("Salary =",e2.sal)

e1.sal_rise() # function call
e2.sal_rise() # function call

print('Salary After Increment')
print(e1.fullname())
print("Salary =",e1.sal)
e1.sal_rise()
print(e2.fullname())
print("Salary =",e2.sal)

Previous salary
Steve Smith
Salary = 1250000
Glenn Maxwell
Salary = 950000
Salary After Increment
Steve Smith
Salary = 2600000
Glenn Maxwell
Salary = 1976000

In [55]:
class DEV(Emp):
  inc = 2.31
  def __init__(self,fname,lname,sal,PL):
    Emp.__init__(self,fname,lname,sal)
    self.PL = PL

e1 = DEV('Steve','Smith',1250000,'C++')
e2 = DEV('Glenn','Maxwell',950000,'Java')
print('Previous salary')
print(e1.fullname())
print("Salary =",e1.sal)
print(e2.fullname())
print("Salary =",e2.sal)

e1.sal_rise() # function call
e2.sal_rise() # function call

print('Salary After Increment')
print(e1.fullname())
print("Salary =",e1.sal)
e1.sal_rise()
print(e2.fullname())
print("Salary =",e2.sal)

Previous salary
Steve Smith
Salary = 1250000
Glenn Maxwell
Salary = 950000
Salary After Increment
Steve Smith
Salary = 2887500
Glenn Maxwell
Salary = 2194500

In [56]:
class DEV(Emp):
  inc = 2.31
  def __init__(self,fname,lname,sal,PL):
    super().__init__(fname,lname,sal)  # using "super class()"
    self.PL = PL

e1 = DEV('Steve','Smith',1250000,'C++')
e2 = DEV('Glenn','Maxwell',950000,'Java')
print('Previous salary')
print(e1.fullname())
print("Salary =",e1.sal)
print(e2.fullname())
print("Salary =",e2.sal)

e1.sal_rise() # function call
e2.sal_rise() # function call

print('Salary After Increment')
print(e1.fullname())
print("Salary =",e1.sal)
e1.sal_rise()
print(e2.fullname())
print("Salary =",e2.sal)

Previous salary
Steve Smith
Salary = 1250000
Glenn Maxwell
Salary = 950000
Salary After Increment
Steve Smith
Salary = 2887500
Glenn Maxwell
Salary = 2194500

In [57]:
class Managers(Emp):
  def __init__(self,fname,lname,sal,Empl = None):
    super().__init__(fname,lname,sal)
    if Empl is None :
      self.Empl = []
    else:
      self.Empl = Empl
  
  def Emp_Add(self,emp):
    if emp not in self.Empl:
      self.Empl.append(emp)

  def Emp_Del(self,emp):
    if emp in self.Empl:
      self.Empl.remove(emp)

  def Emp_Show(self):
    for emp in self.Empl:
      print('---->',emp.fname)

e1 = DEV('Steve','Smith',1250000,'C++')
e2 = DEV('Glenn','Maxwell',950000,'Java')
mngr = Managers('Shane','Watson',469666000,[e1])
print(mngr.sal)
print("List of Employees after adding all employees ..........")
mngr.Emp_Add(e2)
mngr.Emp_Show()
print("List of Employees after deleting any employees ..........")
mngr.Emp_Del(e1)
mngr.Emp_Show()

469666000
List of Employees after adding all employees ..........
----> Steve
----> Glenn
List of Employees after deleting any employees ..........
----> Glenn

In [58]:
def ADD_EMP(emp,emplst = []):
  emplst.append(emp)
  print(emplst)

emplst = ['Ramesh','Suresh']
ADD_EMP('Brijesh')
ADD_EMP('Rajesh')
ADD_EMP('Kamlesh')
print(emplst)

['Brijesh']
['Brijesh', 'Rajesh']
['Brijesh', 'Rajesh', 'Kamlesh']
['Ramesh', 'Suresh']

In [59]:
def ADD_EMP(emp,emplst = None):
  if emplst is None : # cheking for None value
    emplst = [] # defining an empty list
  emplst.append(emp)
  print(emplst)

emplst = ['Ramesh','Suresh']
ADD_EMP('Brijesh')
ADD_EMP('Rajesh')
ADD_EMP('Kamlesh')
print(emplst)

['Brijesh']
['Rajesh']
['Kamlesh']
['Ramesh', 'Suresh']

In [60]:
# "__repr__" & "__str__" both produce textual representation of object.
class Emp:
  inc = 1.22
  def __init__(self,fname,lname,sal):
    self.fname = fname
    self.lname = lname
    self.sal = sal

  def fullname(self):
    return '{} {}'.format(self.fname,self.lname)

  def sal_rise(self):
    self.sal = int(self.sal * self.inc)
  
# if both 'repr' and 'str' are used in a code then 'str' takes precedence.
  def __repr__(self): # used for debugging purposes by the developers
    return '{} {}'.format(self.fname,self.lname)

  def __str__(self): # used generally by users
    return '{}---> {}'.format(self.fullname(),self.sal)

e1 = Emp('Steve','Smith',1250000)
e2 = Emp('Glenn','Maxwell',950000)
print(e1)

Steve Smith---> 1250000

In [61]:
class M_class:
  def method(self):
    return 'Instance Method Called',self

  @classmethod
  def cls_method(cls):
    return 'Class Method Called',cls

  @staticmethod
  def st_method():
    return 'Static Method Called'

O = M_class()
print(O.method())
print(O.cls_method())
print(O.st_method())

('Instance Method Called', <__main__.M_class object at 0x7fd2d987bf90>)
('Class Method Called', <class '__main__.M_class'>)
Static Method Called

In [62]:
class Noodles:
  def __init__(self, ingt):
    self.ingt = ingt

  def __repr__(self):
    return f'Noodles({self.ingt})'

  @classmethod
  def __hakkanoodles__(cls,self):
    self.type = type

  def noodles_variant(self, types):
    return types

  @classmethod
  def MakeNoodles(cls):
    return cls(['Cabbage','Chilli-Sauce','Noodles','Chicken-flakes'])

CN = Noodles('Chicken Fried Noodles')
VN = Noodles('Veg Fried Noodles')
print(CN.noodles_variant('Chicken Fried Noodles'))
print(VN.noodles_variant('Veg Fried Noodles'))

Chicken Fried Noodles
Veg Fried Noodles

In [63]:
from math import pi
class Donut:
  def __init__(self,rad,ing):
    self.rad = rad
    self.ing = ing

  def area(self):
    return self.Donut_area(self.rad)

  @staticmethod
  def Donut_area(r):
    return (4/3)*pi*r**3

D = Donut(10,['Cream','Chocolate'])
print("Area of spherical Donut =",D.area(),"sq. units")

Area of spherical Donut = 4188.790204786391 sq. units