<a href="https://colab.research.google.com/github/Aditya2086/Python-Training/blob/main/Day_02_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Write A Program To Find The Least Common Multiple (LCM)**

In [1]:
a = int(input('Enter 1st no:- '))
b = int(input('Enter 2nd no:- '))
if a < b:
  a,b = b,a
for i in range(b, (a*b)+1, b):
  if i%a == 0:
    print('The LCM is:',i)
    break

Enter 1st no:- 40
Enter 2nd no:- 50
The LCM is: 200

# **Write A Program To Find The Highest Common Factor (HCF) ?**

In [1]:
a = int(input('Enter 1st no:'))
b = int(input('Enter 2nd no:'))
i = 1
while (i <= a and i <= b):
  if a%i == 0 and b%i == 0:
    hcf = i
  i += 1
print('The HCF is:', hcf)

Enter 1st no:2
Enter 2nd no:5
The HCF is: 1

# **Write A Program To Print The Star Patterns ?**

In [2]:
print(1)
print(1)
print(1)
print(1)

1
1
1
1

In [3]:
for i in range(4):
  print(1)

1
1
1
1

In [4]:
for x in range(0,4):
  for i in range(0,4):
    print(1, end = ' ')
  print()

1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1

In [5]:
a = int(input('Enter a number:'))
for x in range(a):
  for i in range(a):
    print(1, end = ' ')
  print()

Enter a number:6
1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1

In [6]:
a = int(input('Enter a number:'))
for x in range(a):
  for i in range(a):
    print('*', end = ' ')
  print()

Enter a number:5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [7]:
a = int(input('Enter a number:'))
for x in range(a):
  for i in range(4-x):
    print('*', end = ' ')
  print()

Enter a number:8
* * * *
* * *
* *
*

# **List**

In [8]:
a = []
print(a)
print(type(a))

[]
<class 'list'>

In [9]:
a.append(1)

In [10]:
print(a)

[1]

In [11]:
a.append(0)
print(a)

[1, 0]

In [12]:
a.append(5)
print(a)

[1, 0, 5]

In [13]:
a.append(-1)
print(a)

[1, 0, 5, -1]

In [14]:
a.append([-2,5,6])
print(a)

[1, 0, 5, -1, [-2, 5, 6]]

In [15]:
a = [1, 0, 5, -1]
a.extend([-2,6,7])
print(a)

[1, 0, 5, -1, -2, 6, 7]

In [16]:
a = [1, 0, 5, -1, -2, 6, 7]
print(a[0])
print(a[3])
print(a[0:5])

1
-1
[1, 0, 5, -1, -2]

In [17]:
print(a[0:5:1])
print(a[0:])
print(a[:])
print(a[0:7])

[1, 0, 5, -1, -2]
[1, 0, 5, -1, -2, 6, 7]
[1, 0, 5, -1, -2, 6, 7]
[1, 0, 5, -1, -2, 6, 7]

In [18]:
print(a[-1])

7

In [19]:
print(a[::-1])

[7, 6, -2, -1, 5, 0, 1]

In [20]:
a.insert(0,10)
print(a)

[10, 1, 0, 5, -1, -2, 6, 7]

# **Copying List Elements :-**

In [21]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = a
print('The original List is:',a)
print('The copied List is:',b)

The original List is: [10, 1, 0, 5, -1, -2, 6, 7]
The copied List is: [10, 1, 0, 5, -1, -2, 6, 7]

In [22]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = a # shallow copy
b.append(100)
print('The original List is:',a)
print('The copied List is:',b)

The original List is: [10, 1, 0, 5, -1, -2, 6, 7, 100]
The copied List is: [10, 1, 0, 5, -1, -2, 6, 7, 100]

In [23]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = a.copy() # deep copy
b.append(100)
print('The original List is:',a)
print('The copied List is:',b)

The original List is: [10, 1, 0, 5, -1, -2, 6, 7]
The copied List is: [10, 1, 0, 5, -1, -2, 6, 7, 100]

In [24]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = a[:] # deep copy
b.append(100)
print('The original List is:',a)
print('The copied List is:',b)

The original List is: [10, 1, 0, 5, -1, -2, 6, 7]
The copied List is: [10, 1, 0, 5, -1, -2, 6, 7, 100]

# **Write A Program To Copy One List Elements Into Other List Without Using Shallow Or Deep Copy ?**

In [25]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = []
for i in a:
  b.append(i)
print(b)

[10, 1, 0, 5, -1, -2, 6, 7]

# **Write A Program To Copy Square Of One List Elements Into Other List Without Using Shallow Or Deep Copy ?**

In [26]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = []
for i in a:
  b.append(i**2)
print(b)

[100, 1, 0, 25, 1, 4, 36, 49]

# **Write A Program To Copy Those Elements Of A List Which Are Divisible By 2 & 5 Only ?**

In [27]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = []
for i in a:
  if i%2 == 0 and i%5 == 0:
    b.append(i)
print(b)

[10, 0]

# **Write A Program To Copy One List Elements Into Another List. If The Element Is Greater Than 2, Then Copy It After Squaring It ?**

In [28]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = []
for i in a:
  if i > 2:
    b.append(i**2)
  else:
    b.append(i)
print(b)

[100, 1, 0, 25, -1, -2, 36, 49]

# **Write A Program To Find The Missing Values :-**

In [29]:
a = [1, 2, 3, 5, 6, 8, 9, 10]
b = []
for i in range(a[0], a[-1]):
  if i not in a:
    b.append(i)
print(b)

[4, 7]

# **List Comprehension :-**

In [30]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = []
for i in a:
  b.append(i)
print(b)

[10, 1, 0, 5, -1, -2, 6, 7]

In [31]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = [i for i in a]
print(b)

[10, 1, 0, 5, -1, -2, 6, 7]

In [32]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = [i**2 for i in a]
print(b)

[100, 1, 0, 25, 1, 4, 36, 49]

In [33]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = [i for i in a if i%2 == 0 and i%5 == 0]
print(b)

[10, 0]

In [34]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = [i**2 if i > 2 else i for i in a]
print(b)

[100, 1, 0, 25, -1, -2, 36, 49]

# **Remove List Elements :-**

In [35]:
a = ['Tony', 'Steve', 'Thor', 'Hulk', 'Thanos', 'Gorr']
print(a)

['Tony', 'Steve', 'Thor', 'Hulk', 'Thanos', 'Gorr']

In [36]:
a.pop()
print(a)

['Tony', 'Steve', 'Thor', 'Hulk', 'Thanos']

In [37]:
a.pop(1)
print(a)

['Tony', 'Thor', 'Hulk', 'Thanos']

In [38]:
a.remove('Thanos')
print(a)

['Tony', 'Thor', 'Hulk']

In [39]:
a.clear()
print(a)

[]

In [40]:
del a
print(a)

NameError: ignored

In [41]:
a = [1, 2, 3, ['Tony', 'Steve', 'Thor'], 4, 5, 6, 'Python']
print(a)

[1, 2, 3, ['Tony', 'Steve', 'Thor'], 4, 5, 6, 'Python']

In [42]:
print(a[3][1])

Steve

In [43]:
5/2

2.5

In [44]:
5//2

2

# **Write A Program To Add Digits Of Any Number :-**

In [45]:
a = int(input('Enter A Number:- '))
sod = 0
while a > 0:
  temp = a % 10
  sod = sod + temp
  a = a // 10
print(sod)

Enter A Number:- 20
2