<a href="https://colab.research.google.com/github/Aditya2086/Python-Training/blob/main/Day_04_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Attributes in Python :-**

In [1]:
a = [1, 2, 34, 56, 7, 2, 1]
print(a.count(1)) # tell that how many 1s are present in list
print(a.index(34)) # gives the index position of 34
print(sum(a)) # gives the sum of all elements of an integer list
print(len(a)) # gives the length of the list or total number of elements present in the list

2
2
103
7

In [2]:
print(max(a)) # to get the max value of the list
print(min(a)) # to get the min value of list
print(sum(a)/len(a)) # to get average

56
1
14.714285714285714

# **Enumerate Function**


### **Write A Program To Print The Values Along With Their Index Position Of A List :-**

In [3]:
a = ['Python', 'Java', 'C', 'C++']
for x in range (len(a)):
  print(x, a[x])

0 Python
1 Java
2 C
3 C++

# **Another Way To Do This Is By Using Enumerate Function :-**

In [4]:
a = ['Python', 'Java', 'C', 'C++']
for x, y in enumerate(a):
  print(x, y)

0 Python
1 Java
2 C
3 C++

In [5]:
a = ['Python', 'Java', 'C', 'C++']
for y, x in enumerate(a): # change x and y position
  print(x, y)

Python 0
Java 1
C 2
C++ 3

In [6]:
a = ['Python', 'Java', 'C', 'C++']
for y, x in enumerate(a):
  print(y, x)

0 Python
1 Java
2 C
3 C++

# **Another Use Of Enumerate Is That We Can Start Index Position From Any Number We Want :-**

In [7]:
a = ['Python', 'Java', 'C', 'C++']
for x, y in enumerate(a, 100): # now the index becomes like serial number and will start from 100
  print(x, y)

100 Python
101 Java
102 C
103 C++

# **Write A Program To Calculate Average Of Space Separated Elements Created By A User Defined List Using List Comprehension :-**

In [9]:
a = int(input('Enter the number of subjects:'))
print('Enter the marks space separated:')
marks = [int(i) for i in input().split(' ')[0:a]] # [0:a] will take only no.of subjects defined in 'a'. If more than 'a' are given, then others are ignored
print(marks)
print('Average is:', sum(marks)/a)

Enter the number of subjects:5
Enter the marks space separated:
90 95 95 98 99
[90, 95, 95, 98, 99]
Average is: 95.4

# **Write A Program To Remove Common Elements From 2 Lists & Store Them In A Separate List :-**

In [10]:
a = [1, 2, 3, 4, 5, 6]
b = [4, 5, 6, 7, 8, 9]
c = []
for i in a:
  if i in b:
    c.append(i)
print(c)

[4, 5, 6]

# **Write A Program To Print The Index Of All The Elements In List 1 Which Are Present In List 2 :-**

In [11]:
a = [1, 2, 3, 4, 5, 6, 2, 3, 6]
b = [1, 3, 6]
c = []
for i in range(len(a)):
  if a[i] in b:
    c.append(i)
print(c)

[0, 2, 5, 7, 8]

# **Write A Program To Store All The Duplicate Elements Of A List Into Another List Using Count Method :-**

In [12]:
a = [1, 2, 3, 4, 5, 6, 2, 3, 6]
b = []
for i in range(len(a)):
  if a.count(i) > 1:
    b.append(i)
print(b)

[2, 3, 6]

# **String Attributes :-**

In [13]:
a = ' Python '
print(a)
print(a.strip())

 Python
Python

In [14]:
a = 'Python '
print(a)
print(a.rstrip())

Python
Python

In [15]:
a = ' Python'
print(a)
print(a.lstrip())

 Python
Python

In [16]:
a = 'Python is fun'
print(a)
print(a.startswith('Python'))

Python is fun
True

In [17]:
a = 'Python is fun'
print(a)
print(a.endswith('fun'))

Python is fun
True

In [18]:
a = 'Python'
print(a.isalpha())

True

In [19]:
a = 'Python'
print(a.isdigit())

False

In [20]:
a = 'Python is EASY' # space is present that's why output is False
print(a.isalpha())

False

In [21]:
a = '123'
print(a.isdigit())

True

In [22]:
a = 123
print(a.isdigit())

AttributeError: ignored

In [24]:
a = 'Java'
print(a.strip())
b = 'C++'
print(b.lstrip())
c = 'Python'
print(c.rstrip())

Java
C++
Python