<a href="https://colab.research.google.com/github/Aditya2086/Python-Training/blob/main/Day_14_01_Better_Error_Tracking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Example 1 :-**

In [1]:
avengers = {'old':'steve','rich':'tony','god':'thor'} # remove the closing bracket to see the error
print(avengers)

{'old': 'steve', 'rich': 'tony', 'god': 'thor'}

In [12]:
avengers = 'old':'steve','rich':'tony','god':'thor' # remove the closing bracket to see the error
print(avengers)

SyntaxError: ignored

# **Example 2 :-**

In [ ]:
print('List:',[x for x in range(10)]) # remove the closing square bracket to see the error

List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
print'List:',[x for x in range(10)] # remove the closing square bracket to see the error

SyntaxError: ignored

# **Example 3 :-**

In [3]:
print({(x,y) for x,y in zip('abcd','1234')}) # remove the square bracket from x,y to see the error

{('a', '1'), ('b', '2'), ('c', '3'), ('d', '4')}

# **Example 4 :-**

In [4]:
avengers = {
            'old':'steve',
            'rich':'tony' # remove this value to see the error
            }
print(avengers)

{'old': 'steve', 'rich': 'tony'}

# **Example 5 :-**

In [5]:
try:
    print('Hello Python')
except (ValueError, AttributeError): # remove these brackets to see the error
    print('Problem Happened')

Hello Python

# **Example 6 :-**

In [6]:
try:
    print('Hello Python')
except: # Remove this except keyword, indent the below statement outside the try block and see the error
    print('Only Try Block is Present')

Hello Python

# **Example 7 :-**

In [7]:
num = 5
if num > 1: # remove the colon to see the error
    print('True')

True

# **Example 8 :-**

In [8]:
num = 5
if num == 1: # replace the == with = to see the error
    print('True')
else:
    print('False')

False

# **Example 9 :-**

In [9]:
old_avengers = ['steve','tony','thor','hulk','natasha','hawkeye']
new_avengers = ['antman','peter','stephen','Tchala','wong']
avengers = [*old_avengers, *new_avengers]
print(avengers)
print(f'The Original Avengers are {old_avengers}') # put * with old_avengers to see the error

['steve', 'tony', 'thor', 'hulk', 'natasha', 'hawkeye', 'antman', 'peter', 'stephen', 'Tchala', 'wong']
The Original Avengers are ['steve', 'tony', 'thor', 'hulk', 'natasha', 'hawkeye']

# **Example 10 :-**

In [10]:
num = 1
if num > 5:
    print('True') # unindent this line to see the error
else:
    print('False') # unindent this line to see the error

False

# **Example 11 :-**

In [11]:
import collections
collections.namedtuple # misspell this word namedtuple to see the error
num = 3
print(num) # misspell this word namedtuple to see the error

3