<a href="https://colab.research.google.com/github/Aditya2086/Python-Training/blob/main/Day_08_PT(1)_Anonymous_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Anonymous Functions Are Also Called Lambda Functions in Python Because Instead Of Declaring Them With The Standard def Keyword, Lambda Keyword is Used.**

In [1]:
def sq(n):
  return n**2

sq(5)

25

In [2]:
m = lambda n:n**2
print(m(5))

25

In [3]:
def mx(m, n):
  if m > n:
    return m
  else:
    return n

mx(5,6)

6

In [4]:
def mx(m, n):
  if m > n:
    return m
  else:
    return n

mx(5,6)

6

In [5]:
mx = lambda m, n:m if m > n else n
print(mx(5, 6))

6

In [6]:
def sq_num(l):
  res = []
  for i in l:
    res.append(i*i)
  return res

l = [1, 2, 3, 4]
print(sq_num(l))

[1, 4, 9, 16]

In [7]:
l = [1, 2, 3, 4]
print(list(map(lambda i:i**2, l)))

[1, 4, 9, 16]

In [8]:
def sq_num(n):
  return n*2

n = [1, 2, 3, 4]
sq_num(n)

[1, 2, 3, 4, 1, 2, 3, 4]

In [9]:
def sq_num(n):
  return n*n

def my_map_func(my_fun, list_of_args):
  res = []
  for i in list_of_args:
    res.append(my_fun(i))
  return res

sq = my_map_func(sq_num, [1, 2, 3, 4])
print(sq)

[1, 4, 9, 16]

In [10]:
def val_over_two(l):
  res = []
  for i in l:
    if i > 2:
      res.append(i)
  return res

l = [1, 2, 3, 4]
print(val_over_two(l))

[3, 4]

In [11]:
l = [1, 2, 3, 4]
print(list(filter(lambda i:i>2, l)))

[3, 4]

In [12]:
l = [1, 2, 3, 4]
print(list(map(lambda i:i>2, l)))

[False, False, True, True]

In [13]:
def prod_terms(a):
  mul = a[0]
  for i in range(1, len(a)):
    mul *= a[i] # mul = mul * a[i]
  return mul

l = [1, 2, 3, 4]
print(prod_terms(l))

24

In [14]:
from functools import reduce
l = [1, 2, 3, 4]
print(reduce(lambda x, y:x * y, l))

24