<a href="https://colab.research.google.com/github/Aditya2086/Python-Training/blob/main/Day_01_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from platform import python_version
print(python_version())

3.7.13

In [2]:
a = 5
print(a)

5

In [3]:
print(id(a))

11256192

In [4]:
a = 100
b = 99 + 1
print(id(a))
print(id(b))

11259232
11259232

In [5]:
a = 100
b = 99 + 1
print(id(a))
print(id(b))
print(a == b)
print(a is b)

11259232
11259232
True
True

In [6]:
a = 102
print(a)

102

In [7]:
a = 257
b = 256 + 1
print(id(a))
print(id(b))
print(a == b)
print(a is b)

140539866553136
140539866553840
True
False

In [8]:
print(type(a))

<class 'int'>

# **Different Ways To Give Input in Python**

In [9]:
a = 5 # hardcode
# For single line comment use single hash

In [12]:
a = input('Enter a number:')
print(a)

Enter a number:5
5

In [13]:
a = input('Enter a number: ')
print('Entered number is',a)

Enter a number: 10
Entered number is 10

In [14]:
a = input('Enter a number:- ')
print(a,'is entered number')

Enter a number:- 11
11 is entered number

In [15]:
a = input('Enter 1st number:')
b = input('Enter 2nd number:')
print(a + b)

Enter 1st number:10
Enter 2nd number:34
1034

In [16]:
a = int(input('Enter 1st number:- '))
b = int(input('Enter 2nd number:- '))
print(a + b)

Enter 1st number:- 45
Enter 2nd number:- 67
112

In [17]:
a = 5
b = 6
print(a, b)

5 6

In [18]:
a, b = 5, 6
print(a, b)

5 6

In [19]:
a, b, _ = 5, 6, 7
print(a, b, _)

5 6 7

In [20]:
a, *b = 5, 6, 7, 8
print(a, b)

5 [6, 7, 8]

In [21]:
a, *b, c = 5, 6, 7, 8, 9
print(a, b, c)

5 [6, 7, 8] 9

In [22]:
*a, b, c = 5, 6, 7, 8, 9
print(a, b, c)

[5, 6, 7] 8 9

In [23]:
a, b, *c = 5, 6, 7, 8, 9
print(a, b, c)

5 6 [7, 8, 9]

In [26]:
a, *b, *c = 5, 6, 7, 8, 9
print(a, b, c)

SyntaxError: ignored

In [27]:
a = input().split(' ')
print(a)

7
['7']

In [29]:
a = input().split(' ')
print(a)

1 2 3 4 5 6 7 8 9
['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [30]:
a = input().split(',')
print(a)

1,2,3,4,5,6,7,8,9
['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [31]:
a, b = input().split(' ')
print(a, b)

3 4
3 4

In [33]:
a, b = input().split(' ')
print(a, b)

8 9 0

ValueError: ignored

# **Write A Program To Find The Greater Number**

In [34]:
a = int(input('Enter 1st number:'))
b = int(input('Enter 2nd number:'))
if a > b:
  print(a,'is greater number')
else:
  print(b,'is greater number')

Enter 1st number:9
Enter 2nd number:10
10 is greater number

In [36]:
a = int(input('Enter 1st number:'))
b = int(input('Enter 2nd number:'))
if a > b:
  print(a,'is greater number')
print(b,'is greater number')

Enter 1st number:8
Enter 2nd number:9
9 is greater number

In [37]:
a = int(input('Enter 1st number:'))
b = int(input('Enter 2nd number:'))
if a > b:
  print(a,'is greater number')
elif a == b:
  print('Both numbers are equal')
else:
  print(b,'is greater number')

Enter 1st number:10
Enter 2nd number:10
Both numbers are equal

In [38]:
a = int(input('Enter 1st number:'))
b = int(input('Enter 2nd number:'))
if a > b:
  print(a,'is greater number')
elif a == b:
  print('Both numbers are equal')
else:
  print(b,'is greater number')

Enter 1st number:78
Enter 2nd number:90
90 is greater number

# **Write A Program To Swap Two Numbers If The 1st Number is Greater Than The 2nd Number ?**

In [40]:
a = int(input('Enter 1st number:'))
b = int(input('Enter 2nd number:'))
if a > b:
  a, b = b, a
  print('The swapped numbers are a =',a, 'and b =',b)
else:
  print('The unswapped numbers are a =',a, 'and b =',b)

Enter 1st number:9
Enter 2nd number:8
The swapped numbers are a = 8 and b = 9

In [42]:
a = int(input('Enter 1st number:'))
b = int(input('Enter 2nd number:'))
if a > b:
  a, b = b, a
  print('The swapped numbers are a =',a, 'and b =',b)
else:
  print('The unswapped numbers are a =',a, 'and b =',b)

Enter 1st number:56
Enter 2nd number:43
The swapped numbers are a = 43 and b = 56

In [43]:
a = int(input('Enter 1st number:'))
b = int(input('Enter 2nd number:'))
if a > b:
  temp = a
  a = b
  b = temp
  print('The swapped numbers are a =',a, 'and b =',b)
else:
  print('The unswapped numbers are a =',a, 'and b =',b)

Enter 1st number:90
Enter 2nd number:80
The swapped numbers are a = 80 and b = 90

In [44]:
a = int(input('Enter 1st number:'))
b = int(input('Enter 2nd number:'))
if a > b:
  if a > 10:
    a, b = b, a
    print('The swapped numbers are a =',a, 'and b =',b)
  else:
    print('The unswapped numbers are a =',a, 'and b =',b)
else:
    print('The unswapped numbers are a =',a, 'and b =',b)

Enter 1st number:90
Enter 2nd number:56
The swapped numbers are a = 56 and b = 90

# **Write A Program To Check If A Year is Leap Year Or Not ?**

In [45]:
y = int(input('Enter the year:'))
if ((y%4 == 0 and y%100 != 0) or (y%400 == 0)):
  print('Year',y,'is leap year')
else:
  print('Year',y,'is not a leap year')

Enter the year:2020
Year 2020 is leap year

# **For Loop**
# Syntax-->
# **For in Range (Start, Stop, Step)**
# Start Value is Included
# Stop Value is Not Included
# Step is Optional if Step Value is 1

In [46]:
a = int(input('Enter a number:- '))
for i in range(1,a):
  print(i)

Enter a number:- 8
1
2
3
4
5
6
7

# **Write A Program To Find A Factorial Number ?**

In [47]:
# 5! = 5 x 4 x 3 x 2 x 1

In [48]:
a = int(input('Enter a number:- '))
fact = 1
for i in range(1, a+1):
  fact *= i # fact = fact * i
  print(fact, end = ' ')

Enter a number:- 5
1 2 6 24 120

# **Write A Program To Check The Prime Number ?**

In [50]:
a = int(input('Enter a number:- '))
for i in range(2, a):
  if a%i == 0:
    print('Not Prime')
    break
else:
  print('Prime')

Enter a number:- 7
Prime

In [51]:
!pip install abhiprime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting abhiprime
  Downloading abhiprime-6.0.0-py3-none-any.whl (3.7 kB)
Installing collected packages: abhiprime
Successfully installed abhiprime-6.0.0

In [52]:
import abhiprime as ap
ap.test_prime(8)

0

In [53]:
ap.next_prime(100)

101

In [54]:
ap.prev_prime(100)

97

In [55]:
ap.range_prime(10,100)

11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [56]:
ap.prime_upto(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [57]:
ap.fib_prime(100)

2 3 5 13 89

In [59]:
ap.prime_factor(50)

[2, 5, 5]

In [60]:
ap.prime_factor(20)

[2, 2, 5]

# **Write A Program To Print The Following Numbers :-**

5 x 4 = 20

4 x 3 = 12

3 x 2 = 6

2 x 1 = 2

In [62]:
a = int(input('Enter 1st no.:- '))
b = int(input('Enter 2nd no.:- '))
while (a and b) > 0:
  c = a * b
  print(a,'x',b,'=',c)
  a -= 1
  b -= 1

Enter 1st no.:- 9
Enter 2nd no.:- 8
9 x 8 = 72
8 x 7 = 56
7 x 6 = 42
6 x 5 = 30
5 x 4 = 20
4 x 3 = 12
3 x 2 = 6
2 x 1 = 2